{% extends "MiniWebBundle:Admin:layout.html.twig" %}

{% block container %}
    <div class="col-md-11">
        <h3 class="headline m-top-md">
            IQOS Manager
            <span class="line"></span>
        </h3>

        {#{% for event in events %}#}
        {#<span class="btn btn-default btn-xs" data-tab-id="{{ event.id }}" id="btn-tab-control">{{ event.id }}</span>#}
        {#{% endfor %}#}

        <div class="padding-md">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="basic">
                    {% if users|length > 0 %}
                        <div class="panel-group" id="FaqBasic">
                            {% include "MiniWebBundle:Admin/Main:userList.html.twig" %}
                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            <i class="fa fa-warning fa-lg"></i> Пользователи не найдены
                        </div>
                    {% endif %}
                    <!-- /panel -->
                </div>
            </div>
            <!-- /tab-pane -->
        </div>
        <!-- /tab-content -->
    </div>
{% endblock container %}